@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
.sidebar {
  background-color: rgb(226, 217, 217);
  font-family: "Merriweather", serif;
  height: 100vh;
}
.sidebar nav {
  padding: 50px;
}
.sidebar nav li {
  list-style: none;
  font-size: 48px;
  padding: 50px 0;
}
.sidebar nav li a {
  text-decoration: none;
  color: black;
}
.main {
  background-color: white;
  width: 90vw;
}
.container {
  display: flex;
}
.infoContainer {
  background-color: white;
  height: 58vh;
  width: 80vw;
  margin: 144px auto;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
}
.devPic img {
  height: 58vh;
}
.devinfo {
  display: flex;
  justify-content: center;
  font-size: 50px;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
}
.hello {
  font-size: 65px;
}
.name {
  font-size: 65px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.about {
  font-size: 50px;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}
.moreabout {
  font-size: 35px;
  margin-top: 23px;
  font-family: "Times New Roman", Times, serif;
}
.btn button {
  font-size: 30px;
  margin: 14px;
  margin-top: 34px;
  padding: 20px;
  border-radius: 89px;
  font-weight: bolder;
  cursor: pointer;
  background-color: rgb(243, 182, 26);
}
.btn-sm {
  font-size: 20px;
  padding: 8px 15px;
  margin: 10px 0;
  background-color: rgb(243, 182, 26);
  border-radius: 89px;
}
.contactform {
  font-family: "Merriweather", serif;
  padding: 0 34px;
  padding-top: 144px;
}
.contactform h1 {
  font-family: "Source Code Pro", monospace;
  text-align: center;
  padding: 12px 0;
  font-size: 60px;
  font-weight: bold;
}
.contactform div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.contactform form div {
  width: 16vw;
  border-radius: 8px;
  margin: 6px 0;
  padding: 3px;
}
.contactform form div input {
  width: 30vw;
  border-radius: 8px;
  margin: 6px 0 0 0;
  padding: 6px;
}
#emailHelp {
  font-size: 17px;
  color: darkblue;
  margin: 0 5px;
  padding: 12px 0 0 0;
}
#form-check {
  flex-direction: row;
}
#form-check input {
  width: 24px;
  margin: 3px 0;
}
.skillItem {
  margin: 20px;
  margin-left: 20px;
  font-family: "Merriweather", serif;
}
.skillContainer h1 {
  font-family: "Merriweather", serif;
  text-align: center;
  color: black;
  font-size: 50px;
  background-color: blanchedalmond;
}
.skillContainer h2 {
  font-size: 40px;
}
.skillItem p {
  font-family: "Merriweather", serif;
  text-align: center;
  color: black;
  font-size: 40px;
  margin: 40px;
  background-color: lightgreen;
}
.skillItem li {
  font-family: "Merriweather", serif;
  margin: 20px;
  font-size: 30px;
  list-style: square outside;
}
.intro h1 {
  font-family: "Roboto Slab", serif;
  font-size: 90px;
  text-align: center;
  background-color: blanchedalmond;
  
}
.intro h1 p {
  font-family: "Merriweather", serif;
  align-items: center;
  font-size: 40px;
}
.myCV {
  font-size: 30px;
}
.myCV h2 {
  padding: 30px 0;
}
